@font-face {
    font-family: "Drip";
    src: url("../fonts/adrip1.woff2") format("woff2"),
        url("../fonts/adrip1.woff") format("woff"),
        url("../fonts/adrip1.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Street";
    src: url("../fonts/street.woff2") format("woff2"),
        url("../fonts/street.woff") format("woff"),
        url("../fonts/street.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Pet";
    src: url("../fonts/PetMe.woff2") format("woff2"),
        url("../fonts/PetMe.woff") format("woff"),
        url("../fonts/PetMe.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}


* {
	outline: none;
}

body {
    font-family: Drip;
}

h1 {
    font-family: Street;
    font-size: 3rem;
    font-weight: bold;
}

h2 {
    font-family: Street;
    font-size: 1.8rem;
    font-weight: bold;
    letter-spacing: 2px;
}

p {
    font-size: 2rem;
}

img {
    filter: grayscale(100%);
  }

.container {
    width: 900px;
    height: 550px;
    margin: 0 auto;
}

.header {
    text-align: center;
    padding-top: 10px;
    width: 100%;
}

.turntable-col {
    width: 40%;
    float: left;
}

.turntable {
    width: 100%;
    padding-top: 20px;
    float: left;
}

.player-col {
    width: 30%;
    text-align: center;
    float: left;
}

.opp-col {
    width: 30%;
    text-align: center;
    float: left;
}

.avail-attack-col {
    text-align: center;
    padding-top: 10px;
}

.mc-pic {
    width: 100%;
    cursor: pointer;
    
}

.img-box {
    width: 180px;
    height: 180px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
    
}

.img-box2 {
    width: 180px;
    height: 180px;
    position: relative;
    display: inline-block;
    margin-right: 5px;
    margin-left: 5px;
    border: 1px solid black;
    border-radius: 5px;
}

.name-text {
    position: absolute;
    width:100%;
    background-color: black;
    color: white;
    bottom: 21%;
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: 2px;
    line-height: 1.8rem;
    cursor: pointer;
}

.health-text {
    position: absolute;
    width:100%;
    background-color: black;
    color: white;
    bottom: 3%;
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.8rem;
    cursor: pointer;
}

.health-num {
    font-family: Pet;
    font-size: .7rem;
}

.button-container {
    width: 100%;
    position: relative;
    float: left;
    padding-top: 5px;
}

.button-div {
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.button {
    cursor: pointer;
    background-color: black;
    color: white;
    padding: 7px 10px;
    text-align: center;
    font-family: Drip;
    font-size: 2rem;
    border-radius: 5px;
    transition-duration: 0.3s;
    border: 1px solid black;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#instructions {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    letter-spacing: 1.5px;
    color: #f31c1c;
}

#character-select-section {
    text-align: center;
}



@media screen and (max-width: 400px) {
    p {
        font-size: 1.4rem;
    }

    h1 {
        font-weight: normal;
    }

    h2 {
        font-weight: normal;
        font-size: 1.5rem;
    }

    .container {
        width: 315px;
    }

    .img-box {
        width: 65px;
        height: 65px;
    }

    .img-box2 {
        width: 90px;
        height: 90px;
    }

    .name-text {
        font-size: .5rem;
        line-height: .7rem;
        letter-spacing: .5px;
        font-family: Arial, Helvetica, sans-serif;
        bottom: 18%;
    }
    .health-text {
        font-size: .5rem;
        line-height: .7rem;
        letter-spacing: .5px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
    }

    .health-num {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .6rem;
    }

    .turntable {
        display: none;
    }

    .turntable-col {
        width: 20%;
    }

    .player-col {
        width: 40%;
    }
    
    .opp-col {
        width: 40%;
    }

    .button-div {
        padding-top: 35px;
    }

    .button {
        padding: 5px 7px;
        font-size: 1.2rem;
        border-radius: 5px;
        transition-duration: 0.3s;
        border: 1px solid black;
    }

    
    #attacker {
        display: flex;
    }

    #defender {
        display: flex;
    }

    #instructions {
        height: 40px;
    }

}

/* 401px to 640px */
@media screen and (min-width: 401px) and (max-width: 640px) {
    p {
        font-size: 1.4rem;
    }

    h1 {
        font-weight: normal;
    }

    h2 {
        font-weight: normal;
    }
    .container {
        width: 380px;
    }

    .img-box {
        width: 80px;
        height: 80px;
    }

    .img-box2 {
        width: 100px;
        height: 100px;
    }

    .name-text {
        font-size: .6rem;
        line-height: 1rem;
        letter-spacing: .8px;
        font-family: Arial, Helvetica, sans-serif;
    }
    .health-text {
        font-size: .6rem;
        line-height: 1rem;
        letter-spacing: .5px;
        font-family: Arial, Helvetica, sans-serif;
        display: none;
    }

    .health-num {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .6rem;
    }

    .turntable {
        display: none;
    }

    .turntable-col {
        width: 20%;
    }

    .player-col {
        width: 40%;
    }
    
    .opp-col {
        width: 40%;
    }

    .button-div {
        padding-top: 25px;
    }

    
    #attacker {
        display: flex;
    }

    #defender {
        display: flex;
    }

    #instructions {
        height: 40px;
    }
}

/* 641px to 768px */
@media screen and (min-width: 641px) and (max-width: 768px) {
    p {
        font-size: 1.6rem;
    }

    .container {
        width: 610px;
    }

    .img-box {
        width: 140px;
        height: 140px;
    }

    .img-box2 {
        width: 140px;
        height: 140px;
    }

    .name-text {
        font-size: .8rem;
        line-height: 1.3rem;
        font-family: Arial, Helvetica, sans-serif;
    }
    .health-text {
        font-size: .8rem;
        line-height: 1.3rem;
        letter-spacing: .5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .health-num {
        font-family: Arial, Helvetica, sans-serif;
        font-size: .8rem;
        letter-spacing: 2px;
    }

    .turntable-col {
        width: 34%;
    }

    .player-col {
        width: 33%;
    }
    
    .opp-col {
        width: 33%;
    }

    .button-div {
        padding-top: 15px;
    }
}

/* 769px to 950px */
@media screen and (min-width: 769px) and (max-width: 950px) {
    p {
        font-size: 1.8rem;
    }
    .container {
        width: 730px;
    }

    .img-box {
        width: 160px;
        height: 160px;
    }

    .img-box2 {
        width: 160px;
        height: 160px;
    }

    .name-text {
        font-size: 1.3rem;
        line-height: 1.5rem;
    }
    .health-text {
        font-size: 1.2rem;
        line-height: 1.5rem;
    }

    .turntable-col {
        width: 30%;
    }

    .player-col {
        width: 35%;
    }
    
    .opp-col {
        width: 35%;
    }

    .button-div {
        padding-top: 15px;
    }

}