@font-face {
    font-family: "Drip";
    src: url("../fonts/adrip1.woff2") format("woff2"),
        url("../fonts/adrip1.woff") format("woff"),
        url("../fonts/adrip1.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Street";
    src: url("../fonts/street.woff2") format("woff2"),
        url("../fonts/street.woff") format("woff"),
        url("../fonts/street.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: Drip;
}

h1 {
    font-family: Street;
    font-size: 4rem;
    font-weight: bold;
}

h2 {
    font-family: Street;
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

.container {
    width: 900px;
    height: 550px;
    margin: 0 auto;
    /* background-color: blue; */
}

.header {
    text-align: center;
    padding-top: 20px;
}

.turntable-col {
    width: 40%;
    /* margin: 0 auto; */
    float: left;
}

.turntable {
    width: 100%;
    padding-top: 30px;
    
}

.player-col {
    width: 30%;
    text-align: center;
    float: left;
}

.opp-col {
    width: 30%;
    text-align: center;
    float: left;
}

.mc-pic {
    width: 100%;
    cursor: pointer;
}

.img-box {
    width: 180px;
    height: 180px;
    position: relative;
    display: inline-block;
}

.img-box2 {
    width: 180px;
    height: 180px;
    position: relative;
    display: inline-block;
    border: 2px solid red;
}

.name-text {
    position: absolute;
    width:100%;
    background-color: white;
    color: black;
    bottom: 15%;
    text-align: center;
}

.health-text {
    position: absolute;
    width:100%;
    background-color: white;
    color: black;
    bottom: 5%;
    text-align: center;
}

.button {
    cursor: pointer;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

#instructions {
    text-align: center;
    padding-top: 30px;
}